@model PagedList.IPagedList<Delivery.Models.Warehouse>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("State", "List", new { page = ViewBag.LastPageNumber, paramName = "State", isAsc = ViewBag.Order, enableSwitch = true })
        </th>
        <th>
            @Html.ActionLink("City", "List", new { page = ViewBag.LastPageNumber, paramName = "City", isAsc = ViewBag.Order, enableSwitch = true })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete this warehouse - " + item.State.Trim() + "-" + item.City.Trim() + "?');" })
            </td>
        </tr>
    }
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("List", new { page, paramName = ViewBag.LastParameter, isAsc = ViewBag.Order }))
</div>