@model IEnumerable<Delivery.Models.Cargo>

@{
    ViewBag.Title = "NewCargos";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<h2>New Cargos</h2>

<table class="table">
    <tr>
        <th>
            Departure city
        </th>
        <th>
            Destination city
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route.Distance) (km)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight) (kg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Volume) (m<sup>3</sup>)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Route.OrigWarehouse.City, "Details", "Warehouse", new { area = "Admin", id = item.Route.OriginWarehouseId }, new { })
        </td>
        <td>
            @Html.ActionLink(item.Route.DestWarehouse.City, "Details", "Warehouse", new { area = "Admin", id = item.Route.DestinationWarehouseId }, new { })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route.Distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.ActionLink("Take order", "Take", new { cargoId = item.Id }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
